<div>
	<h1>Activities</h1>
	<div ng-controller="activitiesCtrl">
		<div ng-show="!got_activities">
			<h2>Loading...</h2>
		</div>
		<button class="btn btn-primary pull-right" ng-click="goToAdd()"><span class="glyphicon glyphicon-plus"></span></button>
		<div ng-show="got_activities">
			<table class="table table-striped">
				<tr><th>Name</th></tr>
				<tr ng-repeat="a in activities">
					<td>
						{{a.name}}
					</td>
					<td>
						<button class="btn btn-danger" ng-click="deleteActivity(a.id)"><span class="glyphicon glyphicon-trash"></span></button>
						<button class="btn btn-warning" ng-click="editActivity(a.id)"><span class="glyphicon glyphicon-headphones">
						</span></button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>